.container {
  min-height: 100vh;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-image: url(/images/ecommerce-banner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 20em;
  opacity: 0.9;
  padding-top: 0em;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: #2f999b;
  color: rgb(247 247 247);
  justify-content: flex-end;
  font-size: 1.1rem;
  margin-top: 0;
}

.header li {
  padding: 14px 0px;
  border-left: 1px solid #c8e9fd;
  min-width: 9em;
  text-align: center;
}

.bannerText {
  background: #1d5757;
  border-radius: 0 0 6em 6rem;
  color: #f8f3fc;
  height: 3em;
  margin-top: 0;
  width: 50.3%;
}

.bannerText p {
  margin: 7px;
  padding: 0;
}

.main {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 92%;
  border-radius: 5px;
  padding-right: 2em;
  background: #255757;
}

.card {
  border: 1px solid #429396;
  color: inherit;
  list-style: none;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card img {
  text-align: center;
}

@media(min-width: 960px) {
  .card {
    flex-basis: calc(33% - 2rem);
  }
}

.card:hover,
.card:focus,
.card:active {
  color: #cad4df;
  border-color: #a5c7f0;
}

.card h3 {
  font-size: 1rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.productPrice {
  font-weight: bold;
  color: #e5b942;
  font-size: 17px !important;
  text-align: right;
  padding: 2px;
}

.productDescription {
  min-height: 14em;
}

.addProductBtn {
  display: flex;
  flex-flow: column-reverse;
}

.productTitle {
  background: #429396;
  padding: 2px;
  min-height: 23em;
}

.productTitle h3 {
  padding: 0 5px;
}

.addProductBtn button {
  background-color: #e5b942;
  height: 2em;
  border: none;
  color: #255757;
  font-size: 1.1em;
  font-weight: bold;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}